{
    "server": "0.0.0.0",
    "server_ipv6": "::",
    "server_port": 8388,
    "local_address": "127.0.0.1",
    "local_port": 1081,
    "password": "your-password",
    "timeout": 300,
    "udp_timeout": 120,
    "method": "chacha20-ietf",
    "protocol": "auth_chain_a",
    "protocol_param": "",
    "obfs": "tls1.2_ticket_auth",
    "obfs_param": "",
    "fast_open": false,
    "workers": 1
}
